{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock %}
{% block header %}Профиль пользователя{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h4 class="mb-0">Основная информация</h4>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Логин:</div>
            <div class="col-md-8">{{ user.username }}</div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Имя:</div>
            <div class="col-md-8">{{ user.first_name|default:"Не указано" }}</div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Фамилия:</div>
            <div class="col-md-8">{{ user.last_name|default:"Не указано" }}</div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Email:</div>
            <div class="col-md-8">{{ user.email|default:"Не указано"  }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}